%h1 Address

= simple_form_for @address, url: wizard_path, method: :put do |f|
  = f.input :name
  = f.input :address
  = f.input :postcode
  = f.input :city
  = f.input :country, only: ["NL", "BE"], selected: "NL"

  = f.submit "Next"


